.area{
    width: 40%;
    height: 100px;
}
.commit{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #337ab7 none;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    color: #fff;
    margin-top: -22px;
}